<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="htb_user" target="_blank" href="https://app.hackthebox.com/users/244329">
          <i id="htb_user" class="icon fa fa-solid fa-cube" aria-hidden="true"></i>
        </a>
        <a aria-label="my_linkedin" target="_blank" href="https://www.linkedin.com/in/nikol4us">
          <i id="my_likedin" class="icon fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </div>
  </div>
</div>
